ALPHA_VANTAGE_API_KEY=your_key_here

OANDA_LIVE_API_KEY=your_key_here
OANDA_LIVE_ACCOUNT_ID=your_account_id_here

OANDA_DEMO_API_KEY=your_key_here
OANDA_ACCOUNT_ID=your_account_id_here

OPENAI_API_KEY=your_key_here
